body {
    font-family: "Tenor Sans", sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: "Aclonica", sans-serif;
}

#carousel1 {
    background-image: url(./assets/aeroma.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 700px;
}

#carousel2 {
    background-image: url(./assets/sauna.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 700px;
}

#carousel3 {
    background-image: url(./assets/stone.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 700px;
}


.light-text {
    color: #a28e7b;
}

.dark-text {
    color: #231a11;
}

.dark-background {
    background-color: #231a11;
}

.gold-background {
    background-color: #a68e45;
}

#title-container {
    height: 15%;
    margin-top: 20px;
    background-image: url(./assets/title.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: start;
}

#title {
    height: 35%;
    width: 15%;
    margin-top: 5px;
}

.modal-header,
h4,
.close {
    background-color: #5cb85c;
    color: white !important;
    text-align: center;
    font-size: 30px;
}

.modal-footer {
    background-color: #f9f9f9;
}

@media only screen and (max-width: 1100px) {

    #carousel1,
    #carousel2,
    #carousel3 {
        height: 450px;
    }

    #title {
        height: 10%;
        width: 5%;
    }
}


.fugaz-one-regular {
    font-family: "Fugaz One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.aclonica-regular {
    font-family: "Aclonica", sans-serif;
    font-weight: 400;
    font-style: normal;
} 

.tenor-sans-regular {
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}